.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    background-color: rgb(155, 228, 155);
    padding: 1%;
}

.userButton {
    margin-left: 5%;
    background-color: rgb(155, 228, 155);
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.userButton:hover {
    color: gray;
    transform: scale(1.1);
}

